@model User
@{
    ViewData["Title"] = "Login Page";
    Layout = null;
}
<form asp-action="Login" method="post">
    <table class="Centre table-bordered" style="margin: 25% auto; ">
        <thead>
            <tr>
                <th><label asp-for="UserName">Username/Email:</label></th>
                <th><label asp-for="Password">Password:</label></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input asp-for="UserName" maxlength=100/></td>
                <td><input asp-for="Password" type=password maxlength=100/></td>
            </tr>
            <tr>
                <td><button type="submit"/>Login</td>
                <td><button asp-action="Register"/>Register</td>
            </tr>
        </tbody>
    </table>
</form>