@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Publisher
@{
    ViewData["Title"] = ViewBag.Action;
    var publisher = @Model;
}
@{
    <form asp-action="EditPublisher" method="post">
        <div asp-validation-summary="All"></div>
        <label asp-for="Name">Name: </label>
        <input asp-for="Name"><br>

        <label asp-for="Year">Year: </label>
        <input type=number asp-for="Year"><br>
        
        <input type="hidden" asp-for="PublisherId">
        <input type="hidden" asp-for="UserId">
        <button type="submit">@ViewBag.Action</button>
        <button asp-controller="Games" asp-action="ListPublishers">Cancel</button>
    </form>
}
