@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Publishers List";
    string g = " ";
}
@model List<Publisher>
<form asp-action="ListPublishers" method="post">
    <label  class="textWhite" asp-for=@g>Search:</label><br/>
    <input asp-for=@g/> <button asp-action="ListPublishers">Search</button><br/>
    <table class="bgWhite table table-bordered table-striped Centre">
        <thead>
            <tr>
                <th>Name</th>
                <th>Year</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var publisher in Model)
            {
                <tr>
                    <td>@publisher.Name</td>
                    <td>@publisher.Year</td>
                    <td class="table-warning" ><a asp-controller="Games" asp-action="EditPublisher" asp-route-id="@publisher.PublisherId">Edit</a></td>
                    <td class="table-danger" ><a asp-controller="Games" asp-action="DeletePublisher" asp-route-id=@publisher.PublisherId>Delete</a></td>
                </tr>
            }
            <tr>
                <td class="table-success" colspan=2><a asp-controller="Games" asp-action="AddPublisher">Add Publisher</a></td>
                <td class="table-secondary" colspan=2><a asp-controller="Games" asp-action="List">Go Back</a></td>
            </tr>
        </tbody>
    </table>
</form>