@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Choose a List";
}
<table class="bgWhite table table-bordered table-striped Centre">
    <thead>
        <tr>
            <td>Games' List</td>
            <td>Genres' List</td>
            <td>Publishers' List</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a asp-controller="Games" asp-action="ListGames">Games</a></td>
            <td><a asp-controller="Games" asp-action="ListGenres">Genres</a></td>
            <td><a asp-controller="Games" asp-action="ListPublishers">Publishers</a></td>
        </tr>
    </tbody>

</table>
